<p class="clearfix">
  <div id="wiki_image_#{index}" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
      <%= image_tag image %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
  <%= image_tag image, class:"img-polaroid", width:"150" %>
