<h1>Editing event</h1>

<%= render 'form' %>

<% content_for :scripts_callback do %>
  <script type="text/javascript" charset="utf-8">
    var markersArray = [];
    Gmaps.map.HandleDragend = function(pos) {
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({
        latLng: pos
      }, function(responses) {
        if (responses && responses.length > 0) {
          //alert(responses[0].formatted_address);
          $("#event_lat").val(pos.lat())
          $("#event_lng").val(pos.lng())
        } else {
        alert('Cannot determine address at this location.');
        }
      });
    };

    Gmaps.map.callback = function() {
      for (var i = 0; i <  this.markers.length; ++i) {
         google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition()) });
      }
    };
  </script>
<% end %>


<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
