<h2 class="main-title">Countries of WWII</h2>
<p class="main-text">Select a country</p>
<div id="countries">
  <ul class="main-list">
  <% @countries.each do |country| %>
    <li class="main-list-item">
      <%= link_to country.name, country, class:"main-list-link" %>
    </li>
  <% end %>
  </ul>
</div>
