<h2 class="main-title">Countries of WWII</h2>
<div class="main-container">
	<p class="main-text">Select a country</p>
	<div id="countries">
	  <ul class="main-list">
	  <% @countries.each do |country| %>
	    <li class="main-list-item">
	      <%= link_to image_tag(country.flag_path, width:"40") + " " + country.name, country, class:"main-list-link" %>
	    </li>
	  <% end %>
	  </ul>
	</div>
</div>
