<h2>Units</h2>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Country</th>
    <th>Type</th>
  </thead>

<% @units.each do |unit| %>
  <%= render 'unit',:unit=>unit %>
<% end %>
</table>
<%= render 'form' %>
