<h2 class="main-title">Operation Overlord</h2>
<p class="main-text">Choose a campaign</p>
<div class="list-container">
	<ul class="main-list">
	<% @campaigns.each do |campaign| %>
	  <%= render 'campaign',:campaign=>campaign %>
	<% end %>
	</li>
</div>

