<h2 class="main-title">WWII War Atlas</h2>
<div class="main-container">
	<p class="main-text">Choose a campaign</p>
	<ul class="main-list">
	<% @campaigns.each do |campaign| %>
	  <%= render 'campaign',:campaign=>campaign %>
	<% end %>
	</li>
</div>

