<h1>Listing campaigns</h1>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Operations</th>
  </thead>

<% @campaigns.each do |campaign| %>
  <%= render 'campaign',:campaign=>campaign %>
<% end %>
</table>
<%= render 'form' %>

