<h1>Listing campaigns</h1>
<%= link_to 'New Campaign', new_campaign_path, class:"btn btn-success" %><table class="table table-striped">
  <thead>
    <th>Name</th>
    <th></th>
    <th></th>
  </thead>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td>
    <%= link_to 'Edit', edit_campaign_path(campaign), class:"btn btn-warning" %>
    <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>

