<h2 class="main-title"><%= @campaign.name %></h2>
<p class="main-text">Select an operation below</p>
<ul class="main-list">
    <% @operations.each do |operation| %>
      <%= render 'operations/operation', operation:operation %>
    <% end %>
  </ul>
