<h2 class="main-title">WWII War Atlas</h2>
<div class="main-container">
	<p class="main-text">Select an operation below</p>
	<ul class="main-list">
	    <% @operations.each do |operation| %>
	      <%= render 'operations/operation', operation:operation %>
	    <% end %>
	</ul>
</div>
