body, h1, h2, h3, h4, h5, h6, li {
  line-height: 1.4;
}

.map_container,
#map,
#main {
  position:absolute;
  top:0;
  height:100%;
  box-sizing: border-box;
}

#map {
  width: 100%;
}

.highlight {
  padding: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, .3);
  width: 375px;
  height: 450px;
  overflow: scroll;
}

#primary-menu {
  padding-right: 30px;
  padding-left: 30px;

  line-height: 40px;
  text-align: right;
}

.map_container {
  width: 61.8%;
  left: 38.2%;
}

#main {
  overflow: hidden;
  padding-top: 40px;
  padding-left: 30px;
  width: 38.2%;
  left: 0;

  background-color: #ddd6c3;
  background-color: rgba(221, 214, 195, 0.8);
}

.main-title,
.main-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.main-list {
  overflow: auto;
  max-height: 400px;
  margin-left: 5px;

  font-size: 16px;

  list-style-type: none;
}

.main-title {
  margin: 10px 0 0;

  font-size: 48px;
}
