<div>
  <%= operation.date_formated(operation.start_date) %> - <%= operation.date_formated(operation.end_date) %><br>
  <%= operation.description %>
  <%= link_to "Go to operation", operation %><br><br>
</div>
