  <li id="operation-<%= operation.id %>" class="main-list-item">
    <%= link_to "Operation #{operation.name}", operation, remote:true, :class => 'operation-link main-list-link', id:"operation-link_#{operation.id}" %>
  </li>
