<h2 class="main-title">Operations</h2>
<div id="operations">
  <ul class="main-list">
    <% @operations.each do |operation| %>
      <%= render 'operation', :operation => operation %>
    <% end %>
  </ul>
</div>
