<h2 class="main-title">Operation Overlord</h2>
<p class="main-text">
	Follow the events of the war by selecting an operation.
</p>
<div id="operations" class="list-container">
  <%= render "operation_list" %>
</div>
