<h2 class="main-title">Operation Overlord</h2>
<div class="main-container">
	<p class="main-text">
		Follow the events of the war by selecting an operation.
	</p>
	<ul class="main-list">
	<% @operations.each do |operation| %>
	  <%= render 'operation', :operation => operation %>
	<% end %>
	</ul>
</div>
