<h2 class="main-title">
  Operation <%= @operation.name %>
</h2>
<p class="main-text">
  <%= @operation.start_date.strftime('%a, %b %e %Y') unless @operation.start_date.nil? %>
  <%= " to "+ @operation.end_date.strftime('%a, %b %e %Y') unless @operation.end_date.nil? %>
</p>
<div class="wiki">
  <%= raw @wiki.full_text %>
</div>
